.gutter {
	background-color: rgb(26, 26, 26);
	background-repeat: no-repeat;
	background-position: 50%;
}
.gutter:hover {
	background-color: rgb(7, 174, 174);
}

.gutter.gutter-horizontal {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
	cursor: col-resize;
}

.gutter.gutter-vertical {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
	cursor: row-resize;
    z-index: 1;
}
#problemDetails .CodeMirror {
    height: 100%;
}
#problemDetails .CodeMirror-hscrollbar::-webkit-scrollbar {
    background-color: #ffffff3d;
    height: 10px;
    border-radius: 20px;
}
#problemDetails .CodeMirror-hscrollbar::-webkit-scrollbar-thumb {
    background-color: #0fcda1;
    border-radius: 20px;
}
#viewProblems .CodeMirror-hscrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #0fcda14f;
}