.nav-effect {
    position: relative;
}
.nav-effect::after {
    content: "";
    background-color: #0fcda1;
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s;
}
.nav-effect:hover::after {
    width: 100%;
}