.test1 {
    margin: 0 auto;
    -moz-columns: 4;
         columns: 4;
    -moz-column-gap: 15px;
         column-gap: 15px;
}
@media (max-width: 1024px) {
    .test1 {
        -moz-columns: 2;
             columns: 2;
    }
}
@media (max-width: 767px) {
    .test1 {
        -moz-columns: 1;
             columns: 1;
    }
}