@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-moz-selection{
  background-color: #00ffc333;
}

::selection{
  background-color: #00ffc333;
}
body {
  overflow-x: hidden;
  background-color: #17181b;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}
.primary-color {
  color: #00ffc3;
}
.bg-primary-color {
  background-color: #00ffc3;
}
.secondary-color {
  color: #fff;
}


/* Section title  */
.section-title {
  background-image: linear-gradient(to top left, #00ffc3, #e9fffc);
  background-size: 400%;
  animation: sectionAnimation 3s ease-in-out infinite alternate-reverse;
  @apply tracking-wide font-bold text-center text-transparent bg-clip-text text-4xl md:text-5xl py-5 montserrat;
}

@-webkit-keyframes sectionAnimation {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
  body{
    overflow-x: hidden;
  }
}

@keyframes sectionAnimation {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
  body{
    overflow-x: hidden;
  }
}

* {
  scroll-behavior: smooth;
}

