@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


::-moz-selection {
  background-color: #0fcda133;
}


::-moz-selection, ::selection {
  background-color: #0fcda133;
}
* {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  color: #ffffff;
  background-color: #17181b;
  font-family: "Montserrat", sans-serif;
}
body::-webkit-scrollbar {
    background-color: #1e2d40;
    width: 10px;
}
body::-webkit-scrollbar-thumb {
    background-color: #0fcda1;
    border-radius: 20px;
}
body::-webkit-scrollbar-thumb:hover {
    background-color: #0fcda185;
}

.primary-color {
  color: #0fcda1;
}

.bg-primary-color {
  background-color: #0fcda1;
}

.bg-secondary-color {
  background-color: #1e2d40;
}

.secondary-color {
  color: #fff;
}

/* Section title  */
.section-title {
  background-image: linear-gradient(to top left, #0fcda1, #e9fffc);
  background-size: 400%;
  animation: sectionAnimation 3s ease-in-out infinite alternate-reverse;
  @apply tracking-wide font-bold text-center text-transparent bg-clip-text text-4xl md:text-5xl py-5;
}

@-webkit-keyframes sectionAnimation {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
  body {
    overflow-x: hidden;
  }
}

@keyframes sectionAnimation {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
  body {
    overflow-x: hidden;
  }
}

.flexcode-container {
  @apply max-w-[1280px] w-full mx-auto py-6 md:py-8 lg:py-16 px-3
}
.flexcode-button {
  @apply relative inline-block shadow-2xl border-2 rounded-md border-[#0fcda1] font-bold uppercase tracking-widest text-white
}
.flexcode-button::after {
  @apply content-[''] absolute inset-0 rounded-md shadow-2xl bg-[#0fcda133] transition-transform
}
.flexcode-button::after:hover {
  @apply translate-y-2 translate-x-2
}
.flexcode-button:focus {
  @apply border-white
}