@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


::-moz-selection {
  background-color: #00ffc333;
}


::-moz-selection, ::selection {
  background-color: #00ffc333;
}

body {
  overflow-x: hidden;
  background-color: #17181b;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}
.primary-color {
  color: #00ffc3;
}

.bg-primary-color {
  background-color: #00ffc3;
}
.bg-secondary-color {
  background-color: #1e2d40;
}

.secondary-color {
  color: #fff;
}

/* Section title  */
.section-title {
  background-image: linear-gradient(to top left, #00ffc3, #e9fffc);
  background-size: 400%;
  animation: sectionAnimation 3s ease-in-out infinite alternate-reverse;
  @apply tracking-wide font-bold text-center text-transparent bg-clip-text text-4xl md:text-5xl py-5 montserrat;
}

@-webkit-keyframes sectionAnimation {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
  body {
    overflow-x: hidden;
  }
}

@keyframes sectionAnimation {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
  body {
    overflow-x: hidden;
  }
}

* {
  scroll-behavior: smooth;
}
.flexcode-container {
  @apply max-w-[1280px] w-full mx-auto py-6 md:py-8 lg:py-16 px-3 lg:px-0
}
