/* .css-13cymwt-control, .css-art2ul-ValueContainer2{
    @apply w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 
             text-white border-gray-500 bg-[#1e2d40] outline-none focus:border-[#00ffc3] !important
} */
.css-1p3m7a8-multiValue{
    background-color: #1da888 !important;
    /* height: 24px; */
}
.css-1y7rh0y-MultiValueGeneric2{
    color: hsl(0, 8%, 95%) !important;
}
.css-13cymwt-control{
    background-color: #1e2d40 !important;
    min-height: 44px !important;
    @apply border text-white border-gray-500 bg-[#1e2d40] outline-none focus:border-[#0fcda156] hover:border-[#0fcda156] !important;
}
.css-t3ipsp-control:hover{
    background-color: #1e2d40 !important;
    min-height: 44px !important;
    
    /* border: 1px solid #08ECB8 !important ; */
}

